<div class="card">
    <div class="card-body">
        <h4 class="card-title">Purchase Create</h4>
        <hr/>
        <form [formGroup]="purchaseCreateForm">
            <div class="container">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Purchased By</mat-label>
                        <mat-select formControlName="employee_id">
                            <mat-option *ngFor="let item of employeeList"
                                        [value]="item['id']">{{item['name']}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="w-100 fs-16">
                        <mat-label>Item Name</mat-label>
                        <input matInput formControlName="name" placeholder="Item Name" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="container">
                <div>
                    <mat-form-field appearance="outline" class="w-100 fs-16">
                        <mat-label>Purchase No</mat-label>
                        <input matInput formControlName="purchase_no" placeholder="Purchase No" type="text">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="w-100 fs-16">
                        <mat-label>Amount</mat-label>
                        <input matInput formControlName="amount" placeholder="Write Amount" type="number">
                    </mat-form-field>
                </div>
            </div>
            <div class="container">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Purchase Date</mat-label>
                        <input matInput formControlName="purchase_date"
                               (focus)="picker.open()" [matDatepicker]="picker" placeholder="Purchase Date">
                        <mat-icon matSuffix>today</mat-icon>
                        <mat-hint>DD/MM/YYYY</mat-hint>
                    </mat-form-field>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="w-100 fs-16">
                        <mat-label>Voucher No</mat-label>
                        <input matInput formControlName="voucher_no" placeholder="Voucher No" type="text">
                    </mat-form-field>
                </div>
            </div>
            <mat-grid-list cols="4" rowHeight="40px">
                <mat-grid-tile colspan="3">
                    <button (click)="submit()" type="submit" class="block-btn-global submit-btn-global"
                            color="primary" mat-raised-button>
                        Create
                    </button>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <button (click)="cancel()" class="block-btn-global cancel-btn-global" color="danger"
                            mat-raised-button>Cancel
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>
</div>
