.container {
  display: flex;
  justify-content: center;
}

mat-form-field {
  margin-right: 12px;
}

.container div {
  margin: 5px 10px;
  width: 33%;
}

.mat-form-field {
  width: 100%;
}
.searchBox {
  width: 100%;
  // margin-bottom: 8px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #dce8ed;
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 5px !important;
    padding-left: 5px;
    padding-right: 5px;
  }
}
