<mat-card class="w-100">
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="40px">
            <mat-grid-tile colspan="3">
                <span class="title">Assets List</span>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <a href="/asset/create" class="create-button-on-list-page"
                   color="info" mat-raised-button>Create Asset
                </a>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input (keyup)="applyFilter($event.target)" matInput>
        </mat-form-field>
        <div class="table-responsive">
            <table [dataSource]="dataSource" class="text-nowrap w-100" mat-table matSort>
                <ng-container matColumnDef="id">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['id']}} </td>
                </ng-container>
                <ng-container matColumnDef="buying_time">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Buy Date</th>
                    <td *matCellDef="let element" mat-cell>
                        <p class="mb-0 fw-medium">{{element['buying_time'].substring(0, 10)}}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Asset Name</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['name']}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Asset Description</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['description']}} </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Amount</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['amount']}} </td>
                </ng-container>
                <ng-container matColumnDef="employee_id">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Employee Name</th>
                    <td *matCellDef="let element" class="fw-medium" mat-cell> {{element['employee']['name']}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Actions</th>
                    <td *matCellDef="let element; let i = index" class="fw-medium" mat-cell>
                        <button (click)="editAsset(element['id'])" color="primary" mat-icon-button>
                            <mat-icon aria-label="icon-button">edit_square</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
            <mat-paginator length="itemList.length"
                           [pageSizeOptions]="[10, 30, 60, 100]" [pageSize]="10"
                           aria-label="Select page">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
