<mat-form-field [appearance]="appearance" class="w-100">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [(value)]="selectedValue"
    (selectionChange)="onSelectionChange($event.value)"
    (openedChange)="onOpenedChange($event)"
  >
    <div class="search-box-container">
      <mat-form-field class="search-box" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input
          #searchInput
          matInput
          [placeholder]="placeholder"
          autocomplete="off"
          (keyup)="onSearchKeyup($event)"
          (keydown)="$event.stopPropagation()"
        />
      </mat-form-field>
    </div>
    <mat-option *ngIf="filteredOptions.length === 0" disabled>
      No results found
    </mat-option>
    <mat-option *ngFor="let option of filteredOptions" [value]="option.id">
      {{ getDisplayText(option) }}
    </mat-option>
  </mat-select>
</mat-form-field>
